version: '3'
services:  
  web:
    build: .
    command: bundle exec puma -C config/puma.rb
    volumes:
      - .:/app
  nginx:
    build: containers/nginx
    ports:
      - "80:80"
    volumes:
      - ./public:/app/public
      - ./tmp:/app/tmp
    depends_on:
      - web
